html {
    scroll-behavior: smooth;
}
header{
	background:#070304;
}
.navbar-brand {
    height: 66px;
    width: 125px;
    object-fit: cover;
}
.navbar-nav{
	text-transform: uppercase;
    font-family: cursive;
}
.about-us img{
	height:60vh;
}
.about-us p {
    line-height: 1.6;
    font-size: 1.1rem;
    font-weight: 400;
    font-family: cursive;
}
.f-size{
	font-size:3rem;
	font-weight:400;
}
.card img{
	height:250px;
	object-fit:cover;
}
.font-size{
	font-size:1.2rem;
	font-weight:400;
}
.carousel-caption {
	bottom:240px;
}
.carousel-caption h5 {
    font-size: 2rem;
    letter-spacing: 2px;
    word-spacing: 3px;
    color: #070304;
}

.carousel-caption p {
    font-size: 1.2rem;
    letter-spacing: 1.6px;
    word-spacing: 2px;
    color: #612552;
}
.carousel-item img {
    opacity: .6;
}
footer{
	padding:40px;
	background:#070304;
}
